.advantages {
  margin-bottom: 45px;
  background-image: url("../img/grey-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 60px;

  @media (min-width: @tablet-width) {
    background-position: 0 135px;
  }

  @media (min-width: @desktop-width) {
    /*margin-bottom: 60px;*/
  }
}

.advantages__wrapper {
  margin-bottom: 100px;

  @media (min-width: @tablet-width) {
    margin-bottom: 85px;
  }
}

.advantages__wrapper p {
  margin: 0;
  font-size: 24px;
  line-height: 120%;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    padding: 0 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__wrapper p:first-child {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  gap: 45px;
  padding: 0;
  position: relative;

  @media (min-width: @tablet-width) {
    text-align: left;
    padding-left: 310px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 480px;
      width: 268px;
      background-image: url("../img/iphone-3-tablet.png");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/Iphone-3-tablet@2x.png");
      }
    }
  }

  @media (min-width: @desktop-width) {
    text-align: center;
    flex-direction: row;
    column-gap: 50px;
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}

.advantages__list li {
  display: flex;
  flex-direction: column;
}

.advantages__item:last-child {
  gap: 35px;

  @media (min-width: @desktop-width) {
    gap: 0;
  }
}

.advantages__item-info {
  position: relative;
}

.advantages__item-title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 133%;
  margin-bottom: 13px;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 30px;
    margin-top: 45px;
  }
}

.advantages__item-text {
  margin: 0;
}

.advantages__item--mood {
  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      min-width: 157px;
      min-height: 305px;
      background-image: url("../img/app-mood-desktop.png");
      background-repeat: no-repeat;
      background-position: top;
    }
  }
}

.advantages__item--world {
  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      min-width: 157px;
      min-height: 305px;
      background-image: url("../img/app-world-desktop.png");
      background-repeat: no-repeat;
      background-position: top;
    }
  }
}

.advantages__item--friends {
  @media (min-width: @tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: @desktop-width) {
    &::before {
      content: "";
      min-width: 157px;
      min-height: 305px;
      background-image: url("../img/app-friends-desktop.png");
      background-repeat: no-repeat;
      background-position: top;
    }
  }
}

.advantages__item--friends::after {
  content: "";
  min-width: 157px;
  min-height: 280px;
  background-image: url("../img/app-friends.png");
  background-repeat: no-repeat;
  background-position: top;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/app-friends@2x.png");
    background-size: 170px auto;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}
