.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.button__publish {
  border-radius: 30px;
  color: @magenta;
  border: 3px solid @magenta;
  width: 280px;
  height: 55px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.button__reset {
  border-radius: 30px;
  color: @gray;
  border: 3px solid @gray;
  width: 280px;
  height: 55px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
