.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  margin: 0;
  margin-bottom: 45px;
}

.contacts__wrap {
  margin: 0;
}

.contacts__wrap dt {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.contacts__wrap dd {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @magenta;
}

.contacts__data {
  margin: 0;
}

.contacts__phone-group {
  margin-bottom: 25px;
}

.contacts__email-group {
  margin-bottom: 25px;
}

.contacts__email:focus,
.contacts__email:hover {
  color: @darkblue;
  text-decoration: underline;
}

.contacts__email:active {
  opacity: 0.3;
  color: @darkblue;
  text-decoration: inherit;
}

.contacts__phone,
.contacts__email {
  color: @magenta;
}

.contacts__address-group {
  z-index: 2;
  position: relative;
}

.contacts__address {
  margin: 0;
}
