.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
  margin: 0;
  margin-bottom: 45px;
}

.contacts__inner {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__inner dt {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.contacts__inner dd {
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: @magenta;
}

.contacts__data {
  margin: 0;
}

.contacts__phone-group {
  margin-bottom: 25px;
}

.contacts__email-group {
  margin-bottom: 25px;
}

.contacts__email:focus,
.contacts__email:hover {
  color: @darkblue;
  text-decoration: underline;
}

.contacts__email:active {
  opacity: 0.3;
  color: @darkblue;
  text-decoration: inherit;
}

.contacts__phone,
.contacts__email {
  color: @magenta;
}

.contacts__address-group {
  z-index: 2;
  position: relative;
}

.contacts__address {
  margin: 0;
}

.map {
  position: relative;
}

.map-cover {
  position: absolute;
  width: 100%;
}


.map::before {
  content: url("../img/triangle-white-footer.svg");
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  /*background-image: url("../img/triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;*/
}
