.main-nav {
  position: relative;
  min-height: 66px;
  width: 100%;
  z-index: 1;
}

.main-nav__toggle {
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 2;
  display: block;
  background-color: transparent;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    top: 23px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 3px;
  background-color: @white;
  box-shadow: 0 8px 0 0 @white, 0 16px 0 0 @white;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@white, 30%);
  box-shadow:
    0 8px 0 0 fade(@white, 30%),
    0 16px 0 0 fade(@white, 30%);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  /*top: 15px;*/
  left: 17px;
  width: 36px;
  height: 3px;
  background-color: @white;
  transform: rotate(45deg);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle:active::before {
  background-color: fade(@white, 30%);
  transform: rotate(45deg);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  /*top: 15px;*/
  left: 17px;
  width: 36px;
  height: 3px;
  background-color: @white;
  transform: rotate(-45deg);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle:active::after {
  background-color: fade(@white, 30%);
  transform: rotate(-45deg);

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    margin-top: 18px;
  }
}

.main-nav--closed .site-list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav--open .site-list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav__wrapper {
  @media (min-width: @desktop-width) {
    width: auto;
    padding-left: 340px;
  }
}

/*.site-list {
  @media (min-width: @desktop-width) {
    width: 760px;
    outline: 5px solid rgba(0, 255, 0, 0.8);
    outline-offset: -5px;
  }
}*/

.site-list__item {
  /*min-height: 63px;*/
  min-width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: @darkblue;

  box-shadow: 0 1px 0 @black, 0 1px 0 inset fade(@white, 15%);

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    /*min-height: 110px;
    padding-top: 40px;*/
    background-color: transparent;
    box-shadow: none;
    min-width: inherit;
    font-weight: 400;
    text-transform: none;
    padding-top: 0;
    margin-right: 70px;
    padding-bottom: 0;
  }
}

/*.site-list__item:first-child { //Пока так
  @media (min-width: @desktop-width) {
    margin-left: 70px;
  }
}*/

.site-list__item-first {
  display: block;
  height: 40px;

  @media (min-width: @tablet-width) {
    height: 60px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.site-list__link {
  color: @white;
  text-decoration: none;
}


.site-list__link:not(.site-list__link--current):focus,
.site-list__link:not(.site-list__link--current):hover {
  color: @magenta;
}

.site-list__link:not(.site-list__link--current):active {
  color: fade(@magenta, 30%);
}
