.page-footer {
  margin-bottom: 25px;
}

.page-footer__logo {
  margin-bottom: 30px;
}

.page-footer__logo:hover path,
.page-footer__logo:focus path {
  fill: @magenta;
}

.page-footer__logo:active path:not(:nth-last-child) {
  fill: @darkblue;
}

.page-footer__logo:active path {
  opacity: 0.3;
}

.page-footer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__socials {
  margin-bottom: 40px;
}

.socials__list {
  display: flex;
  list-style: none;
  //flex-wrap: wrap;
  gap: 12px;
  margin: 0;
  padding: 0;
}

.socials__item {
  position: relative;
}

.socials__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 3px solid fade(@darkblue, 10%);
  border-radius: 50%;
}

.socials__link--twitter::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--facebook::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--youtube::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.socials__link--twitter:hover,
.socials__link--facebook:hover,
.socials__link--youtube:hover,
.socials__link--twitter:focus,
.socials__link--facebook:focus,
.socials__link--youtube:focus {
  border: 3px solid (@darkblue);
}

.socials__link--twitter:active::after,
.socials__link--facebook:active::after,
.socials__link--youtube:active::after {
  opacity: 0.3;
  border: 3px solid fade(@darkblue, 10%);
  border-radius: 50%;
}

.page-footer__copyright {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.copyright__text {
  vertical-align: top;
  margin-right: 15px;
  font-weight: 400;
}

.copyright__link {
  display: inline-flex;
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: @darkblue;
}

.copyright__link:active path {
  fill: fade(@darkblue, 30%);
}
