.research {
  margin-bottom: 40px;
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.research__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  margin-bottom: 24px;
  text-align: left;
}

.research__content {
  margin: 0;
  text-align: left;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    max-width: 310px;
  }

  @media (min-width: @desktop-width) {
    max-width: 570px;
  }
}

.research__more-info {
  text-decoration: underline;
  color: @magenta;
  text-align: left;
}
