.reviews {
  margin-bottom: 45px;
}

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-style: inherit; //чтоб убрать Italic <cite>
  font-weight: 700;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
}
